/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
////////////////////////////            main css             ////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////


@import "font.css";
@import "mixin";

* {
    padding: 0;
    margin: 0;
    direction: ltr;
    line-height: normal;
    box-sizing: border-box;
    background: transparent;
    outline: 0;
    list-style-type: none;
    border: 0 transparent;
    text-decoration: none;
    align-items: center;
    text-align: center;
    font-family: Roboto;
}

body {
    @include widthHeight(100vw, 100vh);
    @include displayFlex(flex, column, nowrap, center, center, center);
    @include colRowGap(0, 0);
    background-color: $primaryColor;
    position: fixed;
    scrollbar-width: none;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
////////////////////////////           content main          ////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.content-main {
    @include widthHeight(100%, 100%);
    padding: 0 0rem 5rem 0rem;
    @include displayFlex(flex, column, nowrap, flex-start, center, center);
    @include colRowGap(0, 1rem);
    scrollbar-width: none;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.include-header,
#include-footer,
#include-main,
#include-mp3 {
    width: 100%;
}

#include-mp3 {
    @include displayFlex(flex, column, nowrap, flex-start, center, center);
    display: none;
}


::-webkit-scrollbar {
    width: .3rem;
    border-radius: 1000px;
}

::-webkit-scrollbar-thumb {
    background: $accentColor;
    border-radius: 1000px;
}

::-webkit-scrollbar-track {
    background-color: $primaryColorDarker;
    border-radius: 1000px;
}


@include media(Mobile) {

    .content-main {
        padding: 0 0rem 11rem 0rem;
    }
}


/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
////////////////////////////             header              ////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

header {
    @include widthHeight(100%, 60px);
    @include displayFlex(flex, row-reverse, nowrap, space-between, center, flex-start);
    margin: 1.5rem 0 1.5rem 0;
    padding: 0 1.5rem;
}

.search-header {
    @include widthHeight(25%, auto);
    @include displayFlex(flex, row, nowrap, space-between, center, baseline);
    @include colRowGap(1rem, 0);
    background-color: rgba($color: $whiteColor, $alpha: .1);
    padding: 0 1.5rem;
    border-radius: 1000px;

    i {
        font-size: 12px;
        color: rgba($color: $whiteColor, $alpha: .1);
    }

    input {
        @include widthHeight(100%, "");
        @include inputText;
        padding-left: .5rem;
        padding-right: 0;
        background-color: transparent;
        text-align: left;
    }

}


@include media(Mobile) {

    .search-header {
        width: 100%;
    }

}

/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
////////////////////////////             boards              ////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.board {
    @include widthHeight(auto, auto);
    @include displayFlex(flex, row, nowrap, flex-start, center, center);
    @include colRowGap(1.5rem, 0);
    overflow: auto;
    transition: all .3s ease-in-out;
    padding: 0 1.5rem 3rem 1.5rem;

    &::-webkit-scrollbar {
        display: none;
        width: 0 !important;
    }
}

.item-board {
    @include widthHeight(100%, 12rem);
    @include borderRadiusBox;
    transition: .3s ease-in-out;
    position: relative;
    cursor: pointer;

    &:hover {
        transform: scale(1.03);
    }

    img {
        @include widthHeight(22rem, 100%);
        object-fit: cover;
        // z-index: 1;
        box-shadow: 0 5px 10px rgb(0, 0, 0, .5);
        @include borderRadiusBox;
    }

    div {
        @include displayFlex(flex, column, nowrap, center, center, flex-start);
        @include colRowGap(0, 0.1rem);
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 1rem 2rem;
        z-index: 2;

        p {
            @include fontSizeWeightColor(18px, 600, $whiteColor);
            letter-spacing: .03rem;

            &:nth-child(2) {
                @include fontSizeWeightColor(12px, 400, $whiteColor);
                opacity: .7;
            }

        }

    }

    span {
        @include hoverImg;
    }

}

.dots-board {
    @include widthHeight(100%, auto);
    @include displayFlex(flex, row, nowrap, center, center, center);
    @include colRowGap(.8rem, 0);

    .item-dots {
        @include widthHeight(1rem, .5rem);
        border-radius: 1000px;
        background-color: $whiteColor;
        opacity: .3;
        transition: all .3s ease-in-out;
        cursor: pointer;

        &:hover {
            @include widthHeight(2.5rem, .5rem);
            opacity: 1;
            background-color: $accentColor;
        }

    }

    .dot-active {
        @include widthHeight(2.5rem, .5rem);
        opacity: 1;
        background-color: $accentColor;
    }
}

@include media(Mobile) {

    .item-board {

        img {
            @include widthHeight(19rem, 100%);
        }

    }

    .dots-board {
        display: none;
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
////////////////////////////       countainer music          ////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.container-music {
    @include widthHeight(100%, "");
    margin: 4.5rem 0;
    padding: 0rem 9rem;
    @include displayFlex(flex, column, nowrap, flex-start, center, flex-start);
}

.container-music-1 {
    margin-top: 3.5rem;
}

.header-container-music {
    @include widthHeight(100%, "");
    @include displayFlex(flex, row, nowrap, space-between, center, center);

    span {
        @include fontSizeWeightColor(2rem, 900, $whiteColor);
        text-align: left;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    div {
        @include displayFlex(flex, row, nowrap, center, center, center);
        @include colRowGap(.3rem, 0);
    }

}

.btn-container-play-all {
    @include btnStyleBorder;
    @include fontSizeWeightColor(12px, 600, $whiteColor);
}

.btn-container-see-all {
    @include btnStyleNonBorder;
    @include fontSizeWeightColor(12px, 600, $whiteColor);

}

.list-music {
    @include widthHeight(100%, auto);
    @include displayFlex(flex, row, nowrap, flex-start, center, flex-start);
    @include colRowGap(1.5rem, 0);
    padding-top: 1.5rem;
}

.item-list-music {
    @include widthHeight(16.66%, "");
    @include displayFlex(flex, column, nowrap, center, center, center);
    @include colRowGap(0, 1.5rem);
    cursor: pointer;
    overflow: hidden;

    .cover {
        height: 10rem;
        position: relative;

        img {
            @include widthHeight(100%, 100%);
            @include borderRadiusBox;
            object-fit: cover;
        }

        >span {
            @include hoverImg;
        }
    }

    .name {
        width: 100%;
        @include displayFlex(flex, row, nowrap, flex-start, center, center);
        @include colRowGap(.5rem, 0);
        position: relative;
        overflow: hidden;
        padding-left: .3rem;

        i {
            font-size: 1.8rem;
            color: $whiteColor;
            opacity: .5;

            &:hover {
                color: $accentColor;
                opacity: 1;
            }
        }

        div {
            @include displayFlex(flex, column, nowrap, flex-start, center, flex-start);
            @include colRowGap(0, .3rem);
            padding-left: .2rem;

            p {
                @include fontSizeWeightColor(14px, 500, $whiteColor);
                text-align: left;

                &:nth-child(2) {
                    opacity: .5;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

        }
    }

}

.album-item-list-music {
    width: 25% !important;


    .cover {
        height: 17rem;
    }
}

.best-list-music {
    flex-wrap: wrap !important;
    @include colRowGap(1rem, 1rem);
}

.best-item-list-music {
    @include widthHeight(32.33% !important, 5rem);
    @include displayFlex(flex, row, nowrap, center, center, center);
    @include borderRadiusBox;
    background-color: $primaryColorDarker;
    padding-right: 1.5rem;

    .cover {
        @include widthHeight(35%, 100%);
        margin-right: 1rem;

        img {
            @include widthHeight(100%, 100%);
            object-fit: cover;
        }

        span {
            @include hoverImg;
        }
    }

    div {
        @include displayFlex(flex, row-reverse, nowrap, space-between, center, center);
    }

}


@include media(Mobile) {

    .container-music {
        padding: 0;
        margin: 3rem 0;
    }

    .container-music-1 {
        margin-top: 1rem;
    }

    .header-container-music {
        padding: 0 1.5rem;

        span {
            @include fontSizeWeightColor(18px, 900, $whiteColor);
        }

        div {
            @include colRowGap(.2rem, 0);

            button {
                @include colRowGap(.3rem, 0);
                padding: 0.6rem 0.8rem;
            }
        }

    }

    .list-music {
        flex-wrap: wrap;
        @include colRowGap(1rem, 2rem);
        padding: 1.5rem 1rem 0 1rem;

        //// scroll horizental with overflow: auto;

        &::-webkit-scrollbar {
            display: none;
            width: 0 !important;
        }
    }

    .item-list-music {
        @include widthHeight(47.6% !important, "");
        @include displayFlex(flex, column, nowrap, center, center, center);
        @include colRowGap(0, 1rem);
        overflow: visible;

        .cover {
            width: 100%
        }

        .name {
            @include colRowGap(0.5rem, 0);
            margin-left: 0;

            // i {
            //     display: none;
            // }

            div {
                @include colRowGap(0, .2rem);
                margin-left: 0;

                p {
                    @include fontSizeWeightColor(14px, 500, $whiteColor);

                    &:nth-child(2) {
                        @include fontSizeWeightColor(12px, 300, $whiteColor);

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

            }
        }

    }

    .album-item-list-music {

        img {
            width: 10rem;
        }
    }

    .best-item-list-music {
        @include widthHeight(100% !important, auto);
        @include displayFlex(flex, row, nowrap, center, center, center);
        @include borderRadiusBox;
        background-color: $primaryColorDarker;
        padding-right: 1.5rem;

        .cover {
            @include widthHeight(7.5rem, 100%);
            margin-right: 1rem;

            img {
                @include widthHeight(100%, 100%);
                object-fit: cover;
            }

            span {
                @include hoverImg;
            }
        }

        .name {
            @include displayFlex(flex, row-reverse, nowrap, space-between, center, center);
            @include colRowGap(0.5rem, 0.5rem);
        }

    }


    .best-list-music {
        @include colRowGap(1rem, 1rem);
    }


}

/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
////////////////////////////           playlist              ////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.playlist-onplay {
    @include widthHeight(22rem, calc(100% - 4.5rem));
    @include displayFlex(none, column, nowrap, flex-start, center, center);
    @include colRowGap(0, 0);
    background-color: rgb(7, 8, 24, .98);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    animation: anim-playlist .3s 1;
}

@keyframes anim-playlist {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.title-onplay {
    @include widthHeight(100%, "");
    @include displayFlex(flex, row, nowrap, flex-start, center, center);
    padding: 1.5rem 1.5rem;
    border-bottom: .1rem;
    border-style: solid;
    border-color: rgba($color: $whiteColor, $alpha: .3);

    .title {
        width: 100%;
        @include displayFlex(flex, row, nowrap, flex-start, center, baseline);
        @include colRowGap(.5rem, 0);

        i {
            @include fontSizeWeightColor(14px, "", $whiteColor);
            opacity: .4;
        }

        p {
            text-align: left;
            @include fontSizeWeightColor(14px, 400, $whiteColor);
            opacity: .4;
        }

    }

    .menu-icon {
        width: 100%;
        @include displayFlex(flex, row-reverse, nowrap, flex-start, center, center);
        @include colRowGap(1.5rem, 1rem);
        @include fontSizeWeightColor(14px, "", $whiteColor);
        cursor: pointer;

        i {
            @include fontSizeWeightColor(14px, "", $whiteColor);
            opacity: .4;

            &:hover {
                opacity: 1;
            }
        }


    }
}

.list-music-onplay {
    @include widthHeight(100%, 14rem);
    @include displayFlex(flex, column, nowrap, flex-start, center, flex-start);
    @include colRowGap(0, .2rem);
    /* overflow: auto;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    -ms-overflow-style: none; */
}

.item-playlist-onplay {
    @include widthHeight(100%, "");
    @include displayFlex(flex, row, nowrap, space-between, center, center);
    cursor: pointer;
    padding: .5rem 1.5rem;

    &:hover {
        background-color: rgb(248, 174, 94, .15);
    }

    img {
        @include widthHeight(2.5rem, 2.5rem);
        border-radius: 10px;
        object-fit: cover;
    }

    div {
        @include displayFlex(flex, row, nowrap, center, center, center);
        @include colRowGap(1rem, 0);

        div {
            @include displayFlex(flex, column, nowrap, center, center, flex-start);

            p {
                @include fontSizeWeightColor(12px, 500, $whiteColor);
                letter-spacing: .01rem;

                &:nth-child(2) {
                    @include fontSizeWeightColor(12px, 300, $whiteColor);
                    margin-top: .3rem;
                    opacity: .5;
                }
            }

        }

    }

}

.btn-item {
    text-align: left;
    @include fontSizeWeightColor(14px, 400, $whiteColor);
    opacity: .4;

    &:hover {
        opacity: 1;
    }

    &:nth-child(2) {
        font-size: 22px;
        margin-left: .5rem
    }

}

@include media(Mobile) {

    .playlist-onplay {
        @include widthHeight(100%, calc(100% - 12rem));
    }

    .item-playlist-onplay {
        padding: .8rem 3.5rem;

        img {
            @include widthHeight(3.5rem, 3.5rem);
        }

        div {
            @include colRowGap(1.5rem, 0);

            div {
                p {
                    @include fontSizeWeightColor(14px, 500, $whiteColor);

                    &:nth-child(2) {
                        @include fontSizeWeightColor(12px, 300, $whiteColor);
                    }
                }
            }

        }

    }

    .btn-item {
        &:nth-child(2) {
            display: none;
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
////////////////////////////             player              ////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////


.player {
    @include widthHeight(100%, 4.5rem);
    padding: 0.5rem 1.5rem;
    background-color: rgb(7, 8, 24, .98);
    @include displayFlex(flex, row, nowrap, center, center, center);
    @include colRowGap(1rem, 0);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    transition: .3s ease-in-out;
}

.pic-name {
    width: 45%;
    @include displayFlex(flex, row, nowrap, space-between, center, center);


    div {
        @include displayFlex(flex, row, nowrap, center, center, center);

        img {
            height: 3rem;
            width: 3rem;
            border-radius: 15px;
            object-fit: cover;
        }

        .name-music-onplay {
            min-width: 12%;
            @include displayFlex(flex, column, nowrap, center, center, flex-start);
            margin: 0 1rem 0 1rem;

            p {
                @include fontSizeWeightColor(14px, 600, $whiteColor);
                text-align: left;

                &:nth-child(2) {
                    @include fontSizeWeightColor(12px, 400, $whiteColor);
                    opacity: .5;
                    margin-top: .3rem;
                }
            }
        }

    }



    .sonund-and-playlist {
        @include displayFlex(flex, row, nowrap, center, center, center);
        @include colRowGap(.5rem, 0);
        position: relative;

        button {
            @include widthHeight(2.5rem, 2.5rem);
            border-radius: 1000px;
            background-color: $primaryColor;
            cursor: pointer;
            z-index: 3;

            i {
                font-size: 14px;
                color: $whiteColor;
                opacity: .5;
                transition: .3s ease-in-out;
            }

        }

        .sound-control-progres {
            @include widthHeight(2.5rem, 12rem);
            @include displayFlex(none, column, nowrap, center, center, center);
            background-color: $primaryColorDarker;
            border-radius: 1000px;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 2;
            overflow: hidden;

            input[type="range"] {
                -webkit-appearance: none;
                @include widthHeight(10rem, .3rem);
                transform: rotate(-90deg);
                background: rgba(255, 255, 255, 0.6);
                background-image: linear-gradient($accentColor, $accentColor);
                background-size: 50% 100%;
                background-repeat: no-repeat;
                border-radius: 1000px;

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    @include widthHeight(.8rem, .8rem);
                    background: $accentColorDarker;
                    box-shadow: 0 5px 10px 0 rgb(0, 0, 0, .5);
                    transition: background .3s ease-in-out;
                    border-radius: 50%;
                    cursor: n-resize;
                }

            }
        }

    }


}

.time-control {
    @include displayFlex(flex, row, nowrap, center, center, center);
    @include colRowGap(2rem, 0);
    margin: 0 2rem;

    p {
        @include fontSizeWeightColor(.9rem, 500, $whiteColor);

        &:nth-child(3) {
            color: $accentColor;
            font-weight: 500;
        }
    }

    .control-music-onplay {
        @include displayFlex(flex, row, nowrap, center, center, center);
        @include colRowGap(2rem, 0);

        i {
            cursor: pointer;
            color: $whiteColor;
            font-size: 1rem;

            &:nth-child(2) {
                font-size: 2rem;
                width: 32px;
            }
        }

    }
}

.progrees-time-onplay {
    @include widthHeight(100%, .4rem);
    border-radius: 1000px;
    background-color: $primaryColor;
    @include displayFlex(flex, row, nowrap, flex-start, center, center);
    position: relative;
    cursor: pointer;

    .progrees-time-play {
        @include widthHeight(0%, .4rem);
        background-color: $accentColor;
        border-radius: 1000px;
        z-index: 2;
        @include displayFlex(flex, row, nowrap, flex-start, center, center);
        position: absolute;
        cursor: pointer;
        transition: .3s;
    }

    #badge-time {
        @include widthHeight(.7rem, .7rem);
        border-radius: 50%;
        position: absolute;
        cursor: pointer;
        background-color: $accentColorDarker;
        z-index: 3;
        transition: .3s;
    }
}

@include media(Mobile) {

    .player {
        @include widthHeight(100%, 12rem);
        @include displayFlex(flex, column, nowrap, center, center, center);
        @include colRowGap(0, 1.5rem);
        padding: 1.5rem;
        overflow: hidden;
        border-top: .15rem;
        border-style: solid;
        border-color: rgba($color: $whiteColor, $alpha: .3);

    }

    .pic-name {
        width: 100%;
    }
}


/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
////////////////////////////             footer              ////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

footer {
    width: 100%;
    padding: 2rem 1.5rem;

    ul {
        @include displayFlex(inline-flex, row-reverse, nowrap, center, center, center);
        @include colRowGap(1.5rem, 0);
        @include fontSizeWeightColor(14px, 500, $whiteColor);

        li {
            cursor: pointer;

            &:hover {
                color: $accentColor;
                opacity: .5;
            }
        }

    }

    p {
        width: 100%;
        margin-top: 1.5rem;
        @include fontSizeWeightColor(14px, 400, $whiteColor);
        opacity: .3;

        &:nth-child(3) {
            margin-top: .2rem;
        }
    }

}

@include media(Mobile) {

    footer {
        padding: 0 1.5rem 6.5rem 1.5rem;

        ul {
            @include displayFlex(inline-flex, row-reverse, wrap, center, center, center);
            @include colRowGap(1.5rem, 1.5rem);
            font-size: 12px;
        }

        p {
            width: 100%;
            margin-top: 1.5rem;
            @include fontSizeWeightColor(14px, 400, $whiteColor);
            opacity: .3;
            font-size: 12px;

            &:nth-child(3) {
                margin-top: .2rem;
            }
        }



    }
}