@import "font.css";
@import "mixin";

* {
    padding: 0;
    margin: 0;
    direction: ltr;
    line-height: normal;
    box-sizing: border-box;
    background: transparent;
    outline: 0;
    list-style-type: none;
    border: 0 transparent;
    text-decoration: none;
    align-items: center;
    text-align: center;
    font-family: Roboto;
}

body {
    @include widthHeight(100vw, 100vh);
    @include displayFlex(flex, column, nowrap, center, center, center);
    @include colRowGap(0, 0);
    background-color: $primaryColor;
    position: fixed;
    scrollbar-width: none;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
////////////////////////////           content main          ////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.content-main {
    @include widthHeight(100%, 100%);
    padding: 0 1.5rem 5rem 1.5rem;
    @include displayFlex(flex, column, nowrap, flex-start, center, center);
    @include colRowGap(0, 1rem);
    scrollbar-width: none;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    width: .3rem;
    border-radius: 1000px;
}

::-webkit-scrollbar-thumb {
    background: $accentColor;
    border-radius: 1000px;
}

::-webkit-scrollbar-track {
    background-color: $primaryColorDarker;
    border-radius: 1000px;
}

/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
////////////////////////////             header              ////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

header {
    @include widthHeight(100%, 60px);
    @include displayFlex(flex, row-reverse, nowrap, space-between, center, flex-start);
    margin: 1.5rem 0 .5rem 0;
}

.search-header {
    background-color: $primaryColorDarker;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-radius: 1000px;
    padding: 1rem 3rem;
    @include displayFlex(flex, row, nowrap, space-between, center, baseline);
    @include colRowGap(1rem, 0);

    i {
        font-size: 12px;
        color: $whiteColor;
    }

    input {
        @include widthHeight(100%, "");
        @include fontSizeWeightColor(14px, 500, $accentColor);
        text-align: left;

        &::placeholder {
            font-weight: 300;
            color: $whiteColor;
        }
    }

}

/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
////////////////////////////             boards              ////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.boards {
    @include widthHeight(100%, "");
    @include displayFlex(flex, row, nowrap, center, center, center);
    @include colRowGap(1rem, 0);
}

.item-board {
    @include widthHeight(100%, 12rem);
    @include borderRadiusBox;
    position: relative;
    transition: .3s ease-in-out;
    cursor: pointer;
    overflow: hidden;


    &:hover {
        transform: scale(1.03);
    }

    img {
        @include widthHeight(100%, 100%);
        object-fit: cover;
        // z-index: 1;
        box-shadow: 0 5px 10px rgb(0, 0, 0, .5);
    }


    div {
        @include displayFlex(flex, column, nowrap, center, center, flex-start);
        @include colRowGap(0, 0.1rem);
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 1rem 2rem;
        z-index: 2;

        p {
            @include fontSizeWeightColor(18px, 600, $whiteColor);
            letter-spacing: .03rem;

            &:nth-child(2) {
                @include fontSizeWeightColor(12px, 400, $whiteColor);
                opacity: .7;
            }

        }

    }

    span {
        @include hoverImg;
    }

}

/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
////////////////////////////       countainer music          ////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.container-music {
    @include widthHeight(100%, "");
    margin: 2rem 0;
    padding: 0rem 9rem;
    @include displayFlex(flex, column, nowrap, flex-start, center, flex-start);
}

.container-music-1 {
    margin-top: 3.5rem;
}

.header-container-music {
    @include widthHeight(100%, "");
    @include displayFlex(flex, row, nowrap, space-between, center, center);

    span {
        @include fontSizeWeightColor(2rem, 900, $whiteColor);
        text-align: left;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    div {
        @include displayFlex(flex, row, nowrap, center, center, center);
        @include colRowGap(.3rem, 0);

        button {
            @include btnStyleBorder;
            @include fontSizeWeightColor(12px, 600, $whiteColor);

            &:nth-child(2) {
                @include btnStyleNonBorder;
            }
        }
    }

}

.list-music {
    @include widthHeight(100%, "");
    @include displayFlex(flex, row, nowrap, flex-start, center, center);
    @include colRowGap(1rem, 0);
    padding-top: 1.5rem;
}

.item-list-music {
    @include widthHeight(16.66%, "");
    @include displayFlex(flex, column, nowrap, center, center, center);
    @include colRowGap(0, 1rem);
    cursor: pointer;
    overflow: hidden;

    .cover {
        img {
            width: 100%;
            @include borderRadiusBox;
            object-fit: cover;
        }

        span {
            @include hoverImg;
        }
    }


    div {
        width: 100%;
        @include displayFlex(flex, row, nowrap, flex-start, center, center);
        @include colRowGap(.5rem, 0);
        position: relative;
        overflow: hidden;

        i {
            font-size: 1.6rem;
            color: $whiteColor;
            opacity: .5;

            &:hover {
                color: $accentColor;
                opacity: 1;
            }
        }

        div {
            @include displayFlex(flex, column, nowrap, flex-start, center, flex-start);
            @include colRowGap(0, .2rem);
            padding-left: .5rem;

            p {
                @include fontSizeWeightColor(14px, 500, $whiteColor);

                &:nth-child(2) {
                    opacity: .5;
                    font-weight: 400;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

        }
    }

}

.album-item-list-music {
    width: 25% !important;
}

.best-list-music {
    flex-wrap: wrap !important;
    row-gap: 1rem;
}

.best-item-list-music {
    @include widthHeight(32.33% !important, 5rem);
    @include displayFlex(flex, row, nowrap, center, center, center);
    @include borderRadiusBox;
    background-color: $primaryColorDarker;
    padding-right: 1.5rem;

    .cover {
        @include widthHeight(35%, 100%);
        margin-right: 1rem;

        img {
            @include widthHeight(100%, 100%);
            object-fit: cover;
        }

        span {
            @include hoverImg;
        }
    }

    div {
        @include displayFlex(flex, row-reverse, nowrap, space-between, center, center);
    }

}

/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
////////////////////////////           playlist              ////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.playlist-onplay {
    @include widthHeight(22rem, calc(100% - 4.5rem));
    @include displayFlex(none, column, nowrap, flex-start, center, center);
    @include colRowGap(0, 0);
    background-color: hsla(236, 55%, 6%, 0.9);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    animation: anim-playlist .3s 1;
}

@keyframes anim-playlist {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.title-onplay {
    @include widthHeight(100%, "");
    @include displayFlex(flex, row, nowrap, flex-start, center, baseline);
    @include colRowGap(.5rem, 0);
    padding: 1.5rem 1.5rem;
}

.title-2 {
    text-align: left;
    @include fontSizeWeightColor(14px, 400, $whiteColor);
    opacity: .4;
}

.list-music-onplay {
    @include widthHeight(100%, 14rem);
    @include displayFlex(flex, column, nowrap, flex-start, center, flex-start);
    @include colRowGap(0, .2rem);
    /* overflow: auto;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    -ms-overflow-style: none; */
}

.item-playlist-onplay {
    @include widthHeight(100%, "");
    @include displayFlex(flex, row, nowrap, space-between, center, center);
    cursor: pointer;
    padding: .5rem 1.5rem;

    &:hover {
        background-color: rgb(248, 174, 94, .15);
    }

    img {
        @include widthHeight(2.5rem, 2.5rem);
        border-radius: 10px;
        object-fit: cover;
    }

    div {
        @include displayFlex(flex, row, nowrap, center, center, center);
        @include colRowGap(1rem, 0);

        div {
            @include displayFlex(flex, column, nowrap, center, center, flex-start);

            p {
                @include fontSizeWeightColor(12px, 500, $whiteColor);
                letter-spacing: .01rem;

                &:nth-child(2) {
                    @include fontSizeWeightColor(12px, 300, $whiteColor);
                    margin-top: .3rem;
                    opacity: .5;
                }
            }

        }

    }

}

.btn-item {
    @extend .title-2;

    &:hover {
        opacity: 1;
    }

    &:nth-child(2) {
        font-size: 22px;
        margin-left: .5rem
    }

}

/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
////////////////////////////             player              ////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////


.player {
    @include widthHeight(100%, 4.5rem);
    padding: 0.5rem 1.5rem;
    background-color: rgb(7, 8, 24, .9);
    @include displayFlex(flex, row, nowrap, center, center, center);
    @include colRowGap(1rem, 0);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    transition: .3s ease-in-out;

    img {
        height: 3rem;
        width: 3rem;
        border-radius: 15px;
        object-fit: cover;
    }
}

.name-music-onplay {
    min-width: 11%;
    @include displayFlex(flex, column, nowrap, center, center, flex-start);

    p {
        @include fontSizeWeightColor(14px, 600, $whiteColor);
        text-align: left;

        &:nth-child(2) {
            @include fontSizeWeightColor(12px, 400, $whiteColor);
            opacity: .5;
            margin-top: .3rem;
        }
    }
}

.sonund-and-playlist {
    @include displayFlex(flex, row, nowrap, center, center, center);
    @include colRowGap(.5rem, 0);
    position: relative;

    button {
        @include widthHeight(2.5rem, 2.5rem);
        border-radius: 1000px;
        background-color: $primaryColor;
        cursor: pointer;
        z-index: 3;

        i {
            font-size: 14px;
            color: $whiteColor;
            opacity: .5;
            transition: .3s ease-in-out;
        }

    }

    .sound-control-progres {
        @include widthHeight(2.5rem, 12rem);
        @include displayFlex(none, column, nowrap, center, center, center);
        background-color: $primaryColorDarker;
        border-radius: 1000px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        overflow: hidden;

        input[type="range"] {
            -webkit-appearance: none;
            @include widthHeight(10rem, .3rem);
            transform: rotate(-90deg);
            background: rgba(255, 255, 255, 0.6);
            background-image: linear-gradient($accentColor, $accentColor);
            background-size: 50% 100%;
            background-repeat: no-repeat;
            border-radius: 1000px;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                @include widthHeight(.8rem, .8rem);
                background: $accentColorDarker;
                box-shadow: 0 5px 10px 0 rgb(0, 0, 0, .5);
                transition: background .3s ease-in-out;
                border-radius: 50%;
                cursor: n-resize;
            }

        }
    }

}

.time-control {
    @include displayFlex(flex, row, nowrap, center, center, center);
    @include colRowGap(2rem, 0);
    margin: 0 2rem;

    p {
        @include fontSizeWeightColor(.9rem, 500, $whiteColor);

        &:nth-child(3) {
            color: $accentColor;
            font-weight: 500;
        }
    }

}

.control-music-onplay {
    @include displayFlex(flex, row, nowrap, center, center, center);
    @include colRowGap(2rem, 0);

    i {
        cursor: pointer;
        color: $whiteColor;
        font-size: 1rem;

        &:nth-child(2) {
            font-size: 2rem;
            width: 32px;
        }
    }

}

.progrees-time-onplay {
    @include widthHeight(100%, .4rem);
    border-radius: 1000px;
    background-color: $primaryColor;
    @include displayFlex(flex, row, nowrap, flex-start, center, center);
    position: relative;
    cursor: pointer;
}

.progrees-time-play {
    @include widthHeight(0%, .4rem);
    background-color: $accentColor;
    border-radius: 1000px;
    z-index: 2;
    @include displayFlex(flex, row, nowrap, flex-start, center, center);
    position: absolute;
    cursor: pointer;
    transition: .3s;
}

#badge-time {
    @include widthHeight(.7rem, .7rem);
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    background-color: $accentColorDarker;
    z-index: 3;
    transition: .3s;
}

/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
////////////////////////////          box download           ////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.box-download {
    @include widthHeight(100%, 100%);
    position: absolute;
    @include displayFlex(none, row, nowrap, center, center, center);
    background-color: rgb(20, 22, 46, .95);
    z-index: 999;
}

.form-download {
    @include widthHeight(22rem, auto);
    box-shadow: 0 5px 25px rgb(0, 0, 0, .5);
    background-color: $primaryColorDarker;
    @include borderRadiusBox;
    overflow: hidden;

    img {
        width: 100%;
        object-fit: cover;
        animation: anim-form-download .5s 1 both;
    }

    h3 {
        width: 100%;
        @include fontSizeWeightColor(14px, 400, $whiteColor);
        padding: 1.5rem 2rem;
        line-height: 1.1rem;
    }

}

.div-btn-download {
    width: 100%;
    @include displayFlex(flex, row, nowrap, center, center, center);
    @include colRowGap(1rem, 0);
    padding: .5rem 0 2.5rem 0;
    animation: anim-form-download .3s 1 both;

    button {
        @include btnStyleBorder;
        @include fontSizeWeightColor(14px, 500, $whiteColor);
        padding: .5rem 2rem;

        &:nth-child(2) {
            @include btnStyleNonBorder;
        }

        p {
            padding: 0;
        }
    }
}

@keyframes anim-form-download {
    from {
        width: 0%;
    }

    to {}
}

/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
////////////////////////////             footer              ////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

footer {
    width: 100%;
    padding: 2rem 0;

    ul {
        @include displayFlex(inline-flex, row-reverse, nowrap, center, center, center);
        @include colRowGap(1.5rem, 0);
        @include fontSizeWeightColor(14px, 500, $whiteColor);

        li {
            cursor: pointer;

            &:hover {
                opacity: .5;
            }
        }

    }

    p {
        width: 100%;
        margin-top: 1.5rem;
        @include fontSizeWeightColor(14px, 400, $whiteColor);
        opacity: .3;

        &:nth-child(3) {
            margin-top: .2rem;
        }
    }

}

/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
////////////////////////////        mp3 - box info           ////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////


.box-info {
    @include widthHeight(calc(100% - 18rem), auto);
    @include displayFlex(flex, row, nowrap, space-between, center, center);
    @include colRowGap(2rem, 0);
    @include borderRadiusBox;
    background-color: $primaryColorDarker;
    margin: 0 0 2rem 0;

    >img {
        @include widthHeight(28%, 100%);
        @include borderRadiusBox;
        border-end-end-radius: 0px;
        border-top-right-radius: 0px;
        object-fit: cover;
    }

    >div {
        @include widthHeight(70%, 100%);
        @include displayFlex(flex, column, nowrap, center, center, flex-start);
        @include colRowGap(0, 2rem);
        padding: 0 3.5rem 0 0;
        overflow: hidden;

        .date-play-like-box,
        .name-box,
        .btn-box,
        .track-artist-box {
            @include widthHeight(100%, auto);
            @include colRowGap(.7rem, 0.2rem);
        }
    }
}

.date-play-like-box {
    @include displayFlex(flex, row, nowrap, flex-end, center, flex-start);
    @include fontSizeWeightColor(12px, 400, $whiteColor);
    opacity: .5;
}

.name-box {
    @include displayFlex(flex, column, nowrap, flex-start, center, flex-start);

    >p {
        @include fontSizeWeightColor(26px, 600, $whiteColor);

        &:nth-child(2) {
            @include fontSizeWeightColor(18px, 400, $whiteColor);
            opacity: .5;
        }
    }
}

.btn-box {
    @include displayFlex(flex, row, nowrap, flex-start, center, center);

    button {
        @include btnStyleBorder;
        @include fontSizeWeightColor(12px, 500, $whiteColor);
    }
}

.track-artist-box {
    @include displayFlex(flex, row, nowrap, flex-start, center, center);
    column-gap: .3rem !important;
    p {
        @include fontSizeWeightColor(12px, 500, $whiteColor);
        opacity: .5;

        &:nth-child(2) {
            opacity: 1;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}


/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
////////////////////////////           media query           ////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

@include media(Mobile) {

    .search-header {
        width: 100%;
        padding: 1.2rem 3rem;
    }

    .boards {
        width: 98%;
    }

    .container-music {
        padding: 0rem 0rem;
        margin: 1rem 0;
    }

    .container-music-1 {
        margin-top: 1.5rem;
    }

    .header-container-music {

        span {
            @include fontSizeWeightColor(1.5rem, 900, $whiteColor);
        }

        div {
            @include colRowGap(.5rem, 0);

            button {
                @include colRowGap(.6rem, 0);
            }
        }

    }

    .list-music {
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
            width: 0 !important;
        }
    }

    .item-list-music {
        @include widthHeight(100%, "");
        @include displayFlex(flex, column, nowrap, center, center, center);
        @include colRowGap(0, .5rem);

        img {
            width: 6.5rem;
        }

        div {
            @include colRowGap(0, 0);
            margin-left: 0;

            i {
                display: none;
            }

            div {
                @include displayFlex(flex, column, nowrap, center, center, center);
                @include colRowGap(0, .2rem);
                margin-left: 0;

                p {
                    @include fontSizeWeightColor(14px, 500, $whiteColor);

                    &:nth-child(2) {
                        opacity: .5;
                        font-weight: 400;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

            }
        }

    }

    .album-item-list-music {
        width: auto !important;

        img {
            width: 10rem;
        }
    }

    .best-list-music {
        flex-wrap: nowrap !important;
    }

    .best-item-list-music {
        @include widthHeight(auto, auto);
        @include displayFlex(flex, column, nowrap, center, center, center);
        background-color: transparent;
        padding-right: 0;

        img {
            @include widthHeight(6.5rem, auto);
            @include borderRadiusBox;
        }

    }

    .playlist-onplay {
        @include widthHeight(100%, calc(100% - 4.5rem));
    }

    .item-playlist-onplay {
        padding: .8rem 3.5rem;

        img {
            @include widthHeight(3.5rem, 3.5rem);
        }

        div {
            @include colRowGap(1.5rem, 0);

            div {
                p {
                    @include fontSizeWeightColor(14px, 500, $whiteColor);

                    &:nth-child(2) {
                        @include fontSizeWeightColor(12px, 300, $whiteColor);
                    }
                }
            }

        }

    }

    .btn-item {
        &:nth-child(2) {
            display: none;
        }
    }

    footer {

        ul {
            @include displayFlex(inline-flex, row-reverse, wrap, center, center, center);
            @include colRowGap(1.5rem, 1.5rem);
        }

        p {
            width: 100%;
            margin-top: 1.5rem;
            @include fontSizeWeightColor(14px, 400, $whiteColor);
            opacity: .3;

            &:nth-child(3) {
                margin-top: .2rem;
            }
        }

    }

}