/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
////////////////////////////        mp3 - box info           ////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

@import "mixin";


.box-info {
    @include widthHeight(calc(100% - 18rem), auto);
    @include displayFlex(flex, row, nowrap, space-between, center, center);
    @include colRowGap(2rem, 2rem);
    @include borderRadiusBox;
    background-color: $primaryColorDarker;
    margin: 0 0 2rem 0;
    overflow: hidden;

    >img {
        @include widthHeight(28%, 100%);
        @include borderRadiusBox;
        object-fit: cover;
    }

    >div {
        @include widthHeight(70%, 100%);
        @include displayFlex(flex, column, nowrap, center, center, flex-start);
        @include colRowGap(0, 2rem);
        padding: 0 3.5rem 0 0;
        overflow: hidden;

        .date-play-like-box,
        .name-box,
        .btn-box,
        .track-artist-box {
            @include widthHeight(100%, auto);
            @include colRowGap(.7rem, 0.2rem);
        }
    }
}

.date-play-like-box {
    @include displayFlex(flex, row, nowrap, flex-end, center, flex-start);
    @include fontSizeWeightColor(12px, 400, $whiteColor);
    opacity: .5;
}

.name-box {
    @include displayFlex(flex, column, nowrap, flex-start, center, flex-start);

    >p {
        @include fontSizeWeightColor(26px, 600, $whiteColor);

        &:nth-child(2) {
            @include fontSizeWeightColor(18px, 400, $whiteColor);
            opacity: .5;
        }
    }
}

.btn-box {
    @include displayFlex(flex, row, nowrap, flex-start, center, center);

    button {
        @include btnStyleBorder;
        @include fontSizeWeightColor(12px, 500, $whiteColor);
    }
}

.track-artist-box {
    @include displayFlex(flex, row, nowrap, flex-start, center, center);
    column-gap: .3rem !important;

    p {
        @include fontSizeWeightColor(12px, 500, $whiteColor);
        opacity: .5;

        &:nth-child(2) {
            opacity: 1;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.lyrics-details {
    @include widthHeight(calc(100% - 18rem), auto);
    @include displayFlex(flex, column, nowrap, flex-start, center, center);

    .btn-details {
        @include widthHeight(100%, auto);
        @include displayFlex(flex, column, nowrap, center, center, center);
        @include colRowGap(0, .5rem);
        @include fontSizeWeightColor(14px, 500, $whiteColor);
        cursor: pointer;

        &:hover {
            color: $accentColor;
        }

        i {
            transform: rotate(90deg);
            writing-mode: vertical-rl;
        }
    }

    .body-details {
        @include widthHeight(100%, 0);
        @include fontSizeWeightColor(14px, 400, $whiteColor);
        overflow: hidden;
        transition: all .3s ease;

        p {
            opacity: .8;
            line-height: 1.8rem;
        }
    }


}


@include media(Mobile) {

    .box-info {
        @include widthHeight(calc(100% - 2rem), auto);
        @include displayFlex(flex, column, nowrap, space-between, center, center);

        >img {
            @include widthHeight(100%, 100%);
            object-fit: cover;
        }

        >div {
            @include widthHeight(100%, "");
            @include displayFlex(flex, column, nowrap, flex-start, center, flex-start);
            @include colRowGap(0, 1rem);
            padding: 0 1rem 1.5rem 1rem;

            .date-play-like-box {
                justify-content: center;
            }

            .btn-box {
                @include displayFlex(flex, row, nowrap, space-between, center, center);
                @include colRowGap(.5rem,0);
                button {
                    padding: 0.8rem 1.2rem;
                    >p {
                        display: none;
                    }
                }
            }

            .name-box,
            .track-artist-box {
                @include widthHeight(100%, auto);
                @include colRowGap(.7rem, 0.2rem);
            }
        }

    }

    .lyrics-details {
        @include widthHeight(calc(100% - 2rem), auto);
    }
}



/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
////////////////////////////          box download           ////////////////////////////////////
////////////////////////////                                 ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.box-download {
    @include widthHeight(100%, 100%);
    position: absolute;
    @include displayFlex(none, row, nowrap, center, center, flex-start);
    background-color: rgb(20, 22, 46, .95);
    z-index: 999;
}

.form-download {
    @include widthHeight(22rem, auto);
    box-shadow: 0 5px 25px rgb(0, 0, 0, .5);
    background-color: $primaryColorDarker;
    @include borderRadiusBox;
    overflow: hidden;

    img {
        width: 100%;
        object-fit: cover;
        animation: anim-form-download .5s 1 both;
    }

    h3 {
        width: 100%;
        @include fontSizeWeightColor(14px, 400, $whiteColor);
        padding: 1.5rem 2rem;
        line-height: 1.1rem;
    }

}

.div-btn-download {
    width: 100%;
    @include displayFlex(flex, row, nowrap, center, center, center);
    @include colRowGap(1rem, 0);
    padding: .5rem 0 2.5rem 0;
    animation: anim-form-download .3s 1 both;

    button {
        @include btnStyleBorder;
        @include fontSizeWeightColor(14px, 500, $whiteColor);
        padding: .5rem 2rem;

        &:nth-child(2) {
            @include btnStyleNonBorder;
        }

        p {
            padding: 0;
        }
    }
}

@keyframes anim-form-download {

    from {
        width: 0%;
    }

    to {}
}